*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(34, 34, 34);
}
/*Cabecalho*/
header{
    border-bottom: 1px solid #5e5e5e;
    padding: 1rem 2rem;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#search-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#search-input{
    background-color: #333333;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #ddd;
    width: 400px;
}
#search-input::placeholder{
    color: #ddd;
}
#export-notes{
    background-color: #333;
    border: 2px solid #fff;
    color:#fff;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s;
}
#export-notes:hover{
    background-color: #fff;
    color: #333;
}
/*Form da nota nota*/
#add-note-container{
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}
#add-note-container input,
#add-note-container button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
}
#add-note-container input{
      color: pointer;
      background-color: #333;
      color: #ffffff;
}
/*Notas */
#notes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem   ;
}
.note{
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #FFF;
    position: relative;
}
.note textarea{
    background-color: transparent;
    resize: none;
    color: #FFF;
    border: none;
    height: 100%;
    outline:none;
}
.note  .bi-pin{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #333;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.note:hover > i{
    opacity: 1;
}   
.note .bi-x-lg,
.note .bi-file-earmark-plus{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3s;
    color: #555;
    cursor: pointer;
    opacity: 0;
}
.note  .bi-file-earmark-plus{
    top: 40px;
}
 .note .bi-x-lg:hover,
 .note .bi-file-earmark-plus:hover{
    color: #FFF;
 }
.note.fixed{
    background-color: #696969;
}

@media(max-width: 450px){

    header{
        flex-direction:column;
        gap : 1rem;
        width: 100%;
    }

    #search-container{
        width: 100%
    }

    #search-input{
        width:100%;
        
    }

    #add-note-container{
        width: 100%;
        padding:02rem;

    }

    #notes-container{
        grid-template-columns: repeat(auto-fill, );
    }
}
